/*  your css code here. If applicable */
#red{
	background-color:yellow;
	border-style:solid;
	border-width:1px;
	border-color:green;
}
#yellow{
	background-color:red;
	border-style:solid;
	border-width:1px;
	border-color:black;
}
#green{
	background-color:green;
	border-style:solid;
	border-width:1px;
	border-color:yellow;
}